body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightsteelblue;
    }

h1,h2,h3,h4,h5,h6
{font-family:Arial, Helvetica, sans-serif;font-variant:small-caps; color: black;}
h1 {font-size:40pt;text-align: center; font-variant: small-caps; color:black;}
h2 {font-size:30pt;text-align: center; margin: .1em; color: whitesmoke; text-decoration-line:underline; padding: 2px;}
h3 {font-size:40pt;text-align: center; color: black;}
h4 {font-size:20pt;text-align: center;color: steelblue; font-stretch: expanded;}
h5 {font-size:14pt;text-align: center;color: black;}

header {text-align: center;}

/*Eric Booth Design*/
#edb
{font-family:'Tahoma' 30pt;
text-align: center;
font-variant:small-caps;
font-weight: bolder;
text-decoration:dotted;
font-size:5rem;color:black;}



/*About the Company Section*/
#about {
    text-align: center;
    font-family:"Calibri" 40pt;
    font-weight:bolder black;
    background-color: lightgrey;
    border:black 5px double;
    padding: 10px;
    font-variant:small-caps;
    font-size: larger;
    margin: 30px;
    border-radius: 15px}

/*Skill Section*/
    #skill
    {display:flex;
    flex-direction:column;
    align-items:center;
    font-family:'Calibri' 30pt white;
    font-variant: small-caps;
    font:bolder;
    font-size: larger;
    background-color: slategray; 
    border:black 5px double;
    margin: 10px;
    border-radius: 15px;
    }

/*Customer Section*/
    #customer
    {display:flex;
     flex-direction: column;
    align-items: center;
    font-family:'Calibri' 30pt white;
    font-size: larger;
    font-variant: small-caps;
    background-color:lightslategrey; 
    border: black 5px double;
    margin: 10px;
    border-radius: 15px;}

/*Client Review Section*/
    #review
    {display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Calibri' 30pt white;
    font-variant: small-caps;
    color: whitesmoke;
    font:bolder;
    font-size: larger;
    background-color: steelblue; 
    border:black 5px double;
    margin: 10px;
    border-radius: 15px;}
  
    /*List*/

    ul.no-bullets {
        list-style-type: none; /* Remove bullets */
         /* Remove padding */
        margin: 0; /* Remove margins */}

    #li
    li:nth-child(1) {text-decoration: underline;
    font-family:'Calibri';
    text-align:center;
    font-size:x-large;
    font-style:italic;
    font-family:Oswald 6.0rem;
    font-size:larger;}

    li:nth-child(2-n) {text-align: center;
        font-family:'Calibri';
        text-align:center;
        font-family:Oswald 4.0rem;
        font-size:larger;}

/*Gallery Section*/
    #gallery{
        display:flex;
        flex-direction: column;
        border: 5px solid black;
        align-items: center;
        margin: 30px;
        border-radius: 15px}
    

    #gallery img {max-width:100%; align-items: center;}

    #gallery figure { 
        display:flex;
        flex-direction: column;
        align-items: center;
            text-align:left;           
            padding: 10px;
            font-family:'Calibri';
            font-size: larger;
            font-variant: small-caps;
    
            }
    
    #figcaption {
        display:flex;
        flex-direction: column;
             
       font-family:'Calibri';
        font-size: larger;
        color: black;
        font-variant: small-caps; 
        align-items:left;
        padding: left 20px;}
    
    
     /*Footer Section*/
        #footer 
        {text-align: center;
        font-family:"Tahoma";
        background-color: cadetblue;
        border: 2.5px solid black;
        padding: 10px;
        font: size 16pt;
        font-variant: small-caps;
        color: black;}


            /*Paragraph*/       
  #para
  {color: white;
  text-align: left;
  background-color: cadetblue;
  border: 2.5px solid darkblue;
  padding: 10px;
  font-size: 3.0rem;}

