body{
    font-family:"Calibri";
    background-color: lightsteelblue;
    }

h1,h2,h3,h4,h5,h6
{font-family:Arial, Helvetica, sans-serif;font-variant:small-caps; color: black;}
h1 {font-size:40pt;text-align: center; font-variant: small-caps; color:black;}
h2 {font-size:30pt;text-align: center; margin: .1em; color: black; padding: 50px;}
h3 {font-size:20pt;text-align: center; color: black;}
h4 {font-size:12pt;text-align: center;color: darkslategrey;}

h2 {text-align:center margin 1rem}
header {text-align: center;}

/*Eric Booth Design*/
#edb
{font-family: 'Verdana';
text-align: center;
font-variant:small-caps;
font-weight: bolder;
text-decoration: underline wavy;
font-size:5rem;color:black;
text-decoration-color: cadetblue;
}

/*About the Company Section*/
#about {
    text-align: center;
    line-height: 1.5;
    font-family:"Calibri";
    font-weight:bolder black;
    background-color: lightgrey;
    border:black 5px solid;
    padding: 2px 1/4;
    font: size 3px;;
    font-variant:small-caps;
    margin: 2rem 1/4;}

/*Skill Section*/
    #skill
    {display:flex;
    flex-direction: column;
    align-items:center;
    font-family:'Calibri' 30pt white;
    font-variant: small-caps;
    font:bolder;
    background-color: slategray; 
    border:black 5px solid;
    margin:2rem;}

/*Customer Section*/
    #customer
    {display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Calibri' 30pt;
    font-variant: small-caps;
    background-color:lightslategrey; 
    border: black 5px solid;
    margin: 2rem;}

/*Client Review Section*/
    #review
    {display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Calibri' 1.5rem;
    font-variant: small-caps;
    color: whitesmoke;
    font:bolder;
    background-color: steelblue; 
    border:slategrey 5px solid;
    margin: 2rem;}
  
    /*List*/
    #li
    li:nth-child(1) {text-decoration: underline;
    font-family:'Calibri';
    text-align:center;
    font-style:italic;
    font-family:Oswald 2.5rem;
    font-size:larger;}

    li:nth-child(2-n) {text-align: center;
        font-family:'Calibri';
        text-align:center;
        font-style:italic;
        font-family:Oswald 1.5rem;
        font-size:larger;}

/*Gallery Section*/
    #gallery{
    font-family:Oswald 1.5rem;
    font-variant: small-caps;
    background-color: steelblue;
    font-weight:bolder;
    color: black;
    border: 2.5px solid darkblue;
    align-items: left;
    margin:2rem;}

    #gallery img {
        max-width: 100%;
        align-items:left;
        text-align:left}

    #gallery figure { 
        display:grid;
        grid-template-columns: 2fr 1fr;     
        padding: 5px;
        align-items:left; 
        display:grid;
        }
          
               
    #figure{
        text-align:center;
        align-items:center;
        display:grid;
        grid-template-columns: 2fr 2fr; 
        font-variant: small-caps; 
        width: 300px;
        align-items:center;
        display:grid;
        grid-template-columns: 2fr 2fr;}

        
    #figcaption{
        font-family:'Calibri';
        color: black;display:flex;
        font-variant: small-caps; 
        padding:20px;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;}

   
    /*Paragraph*/       
  #para
        {color: darkblue;
        text-align: left;
        background-color: cadetblue;
        border: 2.5px solid darkblue;
        padding: 10px;
        font-size: 1.5rem;}
  
      

     /*Footer Section*/
        #footer 
        {text-align: center;
        font-family:Oswald;
        background-color: cadetblue;
        border: 2.5px solid black;
        padding: 10px;
        font-size: 12pt;
        font-variant: small-caps;
        color: black;}

