body{
    font-family:"Calibri";
    background-color: lightsteelblue;
    }

h1,h2,h3,h4,h5,h6
{font-family:Arial, Helvetica, sans-serif;font-variant:small-caps; color: black;}
h1 {font-size:40pt;text-align: center; font-variant: small-caps; color:black;}
h2 {font-size:30pt;text-align: center; margin: .1em; color: whitesmoke; text-decoration-line:underline; padding: 2px;}
h3 {font-size:40pt;text-align: center; color: black;}
h4 {font-size:20pt;text-align: center;color: steelblue; font-stretch: expanded;}
h5 {font-size:14pt;text-align: center;color: black;}

header {text-align: center;}

/*Eric Booth Design*/
<!--shows primary logo/name>
#edb
{font-family:'Tahoma' 30pt;
text-align: center;
font-variant:small-caps;
font-weight: bolder;
text-decoration:dotted;
font-size:5rem;color:black;
text-decoration-color: cadetblue;
}

/*Dropcaps*/
#edb div p:first-child:first-letter{
    color:slategrey;
    float:left;
    font: size 150%;
    padding:.25em;
    margin:.25em;
    line-height: .50;
    border:2px black;
    background-color: steelblue;}



/*About the Company Section*/
#about {
    text-align: center;
    font-family:"Calibri" 40pt;
    font-weight:bolder black;
    background-color: lightgrey;
    border:black 5px solid;
    padding: 2px;
    font-variant:small-caps;
    margin: 2rem;}

/*Skill Section*/
    #skill
    {display:flex;
    flex-direction: column;
    align-items:center;
    font-family:'Calibri' 3.0rem white;
    font-variant: small-caps;
    font:bolder;
    background-color: slategray; 
    border:black 5px solid;
    }

/*Customer Section*/
    #customer
    {display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Calibri' 3.0rem white;
    font-variant: small-caps;
    background-color:lightslategrey; 
    border: black 5px solid;
    margin: 2rem;}

/*Client Review Section*/
    #review
    {display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Calibri' 6.0rem white;
    font-variant: small-caps;
    color: whitesmoke;
    font:bolder;
    background-color: steelblue; 
    border:slategrey 5px solid;
    margin: 2rem;}
  
    /*List*/

    ul.no-bullets {
        list-style-type: none; /* Remove bullets */
         /* Remove padding */
        margin: 0; /* Remove margins */}

    #li
    li:nth-child(1) {text-decoration: underline;
    font-family:'Calibri';
    text-align:center;
    font-style:italic;
    font-family:Oswald 6.0rem;
    font-size:larger;}

    li:nth-child(2-n) {text-align: center;
        font-family:'Calibri';
        text-align:center;
        font-family:Oswald 4.0rem;
        font-size:larger;}

/*Gallery Section*/
    #gallery{
        border: 5px solid black;
        align-items: center;
    }

    #gallery figure { 
            text-align:grid;
            grid-template-columns: 2fr 2fr;     
            padding: 10px;
            font-variant: small-caps;
            align-items:center; 
            display:grid;
            }
    
    #gallery img {max-width:100%;}

    #figure{
        text-align:center;
        font-variant: small-caps; 
        width: 300px;
        align-items:center;
        display:grid;
        grid-template-columns: 2fr 1fr;}

    #figcaption{
    display: flex;
    justify-content: cadetblue;
    font-family:'Calibri';
    color: black;
    font-variant: small-caps; 
    align-items: center;
    font-size:10rem;
    margin-left: 1rem;}
    
   
    /*Paragraph*/       
  #para
        {color: darkblue;
        text-align: left;
        background-color: cadetblue;
        border: 2.5px solid darkblue;
        padding: 10px;
        font-size: 1.5rem;}
  
      

     /*Footer Section*/
        #footer 
        {text-align: center;
        font-family:"Tahoma";
        background-color: cadetblue;
        border: 2.5px solid black;
        padding: 10px;
        font-size: 12pt;
        font-variant: small-caps;
        color: black;}






        font-family:Oswald 8.0rem;
        font-variant: small-caps;
        background-color: steelblue;
        font-weight:bolder;
        color: slategray;
        display:grid;
        grid-template-columns: 1fr 2fr;
        border: 2.5px solid darkblue;
        align-items: center;
        margin:2rem;}
    